@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato&family=Poppins:wght@300;400&family=Roboto:wght@400;700&family=Ubuntu&display=swap");
.addContact {
  width: 400px;
  height: 400px;
  margin: -480px 0 0 640px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-family: "Ubuntu", sans-serif;
  position: fixed;
  background-color: white;
}
.addContact h2 {
  color: rgb(186, 186, 186);
  margin-left: 16px;
}
.closeAddContact img {
  width: 24px;
  height: 24px;
}
.closeAddContact {
  display: flex;
  justify-content: space-between;
}
.closeAddContact button {
  cursor: pointer;
  border: none;
  background: none;
}
.Line {
  width: 100%;
  height: 1px;
  background-color: rgb(180, 180, 180);
}
.addContactForm {
  margin: 16px 0 0 96px;
  box-sizing: border-box;
}
.addContactForm div {
  margin: 8px 0 0 0;
}
.addContactButton button {
  border: none;
  cursor: pointer;
}
.submitContact {
  background: #3339f6;
  width: 96px;
  height: 24px;
  border-radius: 5px;
  color: white;
  font-family: "Ubuntu", sans-serif;
}
.resetContact {
  background: black;
  width: 64px;
  height: 24px;
  border-radius: 5px;
  color: white;
  font-family: "Ubuntu", sans-serif;
  margin: 0 0 0 8px;
}
.modal-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(123, 123, 123, 0.9);
}
